*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1A1A2E;

    
}
.container {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    }
.maintext {
    color: #fff;
}
.tableContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    background-color: #25304D;
    /* justify-content: space-between; */
    padding: 30px 0px;

}
.ImgTable {
    width: 100%;
    display: flex;
    justify-content: space-around;


}
.middle {
    text-align: left;
    color: blanchedalmond;
    margin: 10px;
    
}

.box {
    width: 80%;
    background-color: #3C4763;
    /* justify-content: space-around; */
    
    /* border: 1px solid red; */
    /* justify-content: space-around; */
    /* position: relative; */

}
.top img {
   width: 100%;

}
.button {
    width: 80%;
    height: 35px;
    border: 1px solid rgb(150, 177, 244);
    /* position: absolute; */
    /* left: 20px; */
    border-radius: 20px;
    bottom: 15px;
    padding-top: 5px;
    text-decoration:none;
    text-align: center;
    margin: 0 auto;
    /* align-items: flex-end; */
    


    
}

.button a {
    /* padding-top: 5px; */
    color: blanchedalmond;
    

    
}